<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.store.mapper.CustomerMapper">

    <resultMap id="resultMapCustomer" type="com.example.store.pojo.Customer">
        <id property="cid" column="c_id"></id>
        <result property="isDelete" column="is_delete"></result>
        <result property="createdUser" column="created_user"></result>
        <result property="createTime" column="created_time"></result>
        <result property="modifiedUser" column="modified_user"></result>
        <result property="modifiedTime" column="modified_time"></result>
    </resultMap>

    <select id="checkCustomerByUserName" resultMap="resultMapCustomer">
        select * from t_customer where username = #{username}
    </select>

    <insert id="createUser" useGeneratedKeys="true" keyProperty="cid">
        insert into t_customer (username,password,salt,phone,email,gender,avatar, is_delete, created_user, create_time, modified_user, modified_time)
        values (#{username},#{password},#{salt},#{phone},#{email},#{gender},#{avatar},#{isDelete},#{createdUser},#{createTime},#{modifiedUser},#{modifiedTime})
    </insert>

    <update id="updateCustomerPassword">
        update t_customer set password =#{password}, modified_user=#{modifiedUser}, modified_time=#{modifiedTime} where c_id  = #{cid}
    </update>

    <select id="checkCustomerById" resultMap="resultMapCustomer">
        select * from t_customer where c_id  = #{cid}
    </select>

    <update id="updateCustomerInfo">
        update t_customer set email =#{email}, phone=#{phone}, gender=#{gender}, modified_user=#{modifiedUser}, modified_time=#{modifiedTime}  where c_id  = #{cid}
    </update>

    <update id="updateAvatar">
        update t_customer set avatar = #{avatar}, modified_user=#{modifiedUser},  modified_time=#{modifiedTime} where c_id  = #{cid}
    </update>

</mapper>