<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.store.mapper.ProductMapper">


    <resultMap id="resultMapProduct" type="com.example.store.pojo.Product">
        <id property="id" column="id"></id>
        <result property="categoryId" column="category_id"></result>
        <result property="itemType" column="item_type"></result>
        <result property="itemDescription" column="item_description"></result>
        <result property="title" column="title"></result>
        <result property="num" column="num"></result>
        <result property="image" column="image"></result>
        <result property="itemStatus" column="item_status"></result>
        <result property="priority" column="priority"></result>
        <result property="brand" column="brand"></result>
        <result property="size" column="size"></result>
        <result property="itemCondition" column="item_condition"></result>
        <result property="color" column="color"></result>
        <result property="gender" column="gender"></result>


        <result property="createdUser" column="created_user"></result>
        <result property="createTime" column="created_time"></result>
        <result property="modifiedUser" column="modified_user"></result>
        <result property="modifiedTime" column="modified_time"></result>
    </resultMap>

    <select id="selectTopProduct" resultMap="resultMapProduct">
        select * from t_product where item_status = 1 order by priority desc limit 0,5
    </select>

    <select id="getProductById" resultMap="resultMapProduct">
        select * from t_product where id= #{id}
    </select>



</mapper>