.navbar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.nav-logo {
  height: 5rem;
}

.topnav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 25px;
  width: 25vw;
  justify-content: end;
}

.topnav button {
  border-radius: 10px;
  border: none;
}

.cart-item-count {
  border-radius: 10px;
  min-width: 20px;
  background-color: aquamarine;
  position: absolute;
  top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-logo {
  display: flex;
  width: 25vw;
  justify-content: flex-start;
}

.search-bar {
  display: flex;
  width: 25vw;
}

.search-text {
  width: 15rem;
  height: 2rem;
  border-radius: 15px;
  border-width: 1px;
  margin-right: 10px;
  padding: 0 5px;
}

.search-btn {
  padding: 3px 3px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 5px;
}

.search-btn:hover {
  cursor: pointer;
  color: slateblue;
}

.navbar-btm {
  background-color: darkseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: bolder;
}

.bottomnav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 8rem;
  width: 25vw;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.nav-brands:hover .drop {
  display: block;
}

.nav-brands:hover .drop li:hover {
  background-color: white;
  width: 100%;
}

.drop {
  display: none;
  list-style: none;
  /* padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 2rem; */
  padding: 0;
  line-height: 2rem;
  width: 50%;
  position: absolute;
  left: 1;
  z-index: 5;
  background-color: darkseagreen;
  opacity: 90%;
}

.drop li {
  text-align: left;
  padding: 0 1rem;
}

.nav-mens:hover .drop {
  display: block;
}

.nav-mens:hover .drop li:hover {
  background-color: white;
}

.nav-womens:hover .drop {
  display: block;
}

.nav-womens:hover .drop li:hover {
  background-color: white;
}
