.navbar-container {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
    width: 25vw;
}

a {
    color: inherit;
    text-decoration: none;
}