.navbar-top {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.nav-logo {
    height: 5rem;
}

.topnav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
    width: 25vw;
    justify-content: end;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav-logo {
    display: flex;
    width: 25vw;
    justify-content: flex-start;
}

.search-bar {
    display: flex;
    width: 25vw;
}

.search-text {
    width: 15rem;
    height: 2rem;
    border-radius: 15px;
    border: none;
}

.search-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.navbar-btm {
    background-color: #151515;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.bottomnav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 50px;
    width: 25vw;
    justify-content: center;
}