.title h1 {
  text-align: center;
  font-size: 80px;
  padding-bottom: 1%;
}

.title h2 {
  text-align: center;
}

.title {
  padding: 60px;
  background-image: url("../images/clothes.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.box {
  position: relative;
  padding-bottom: 15px;
  background-color: rgba(202, 202, 202, 0.473);
}

#info {
  background-color: rgba(223, 205, 205, 0.767);
  text-align: center;
  font-size: 24px;
  padding: 80px;
}

#info h4 {
  padding-top: 120px;
  padding-right: 13px;
}

.picture {
  width: 500px;
  height: 500px;
}
