.home-container {
    display: block;
    padding: 0 10rem;
    text-align: left;
}

.home-container h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home-brands {
    padding: 2rem 0;
}

.brand-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 1.1rem;
    padding: 2rem 0;
    border-bottom: solid;
}

.brand-cards img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.brand-cards img:hover {
    cursor: pointer;
    scale: 1.3;
}

.porducts {
    padding: 2rem 0;
}

.product-items img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-bottom: 5px;
}

.mens {
    padding: 2rem 0;
}

.mens img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-bottom: 5px;
}

.womens {
    padding: 2rem 0;
}

.womens img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-bottom: 5px;
}

.products-section {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    text-align: center;
    border-bottom: solid;
}

.product-items:hover {
    cursor: pointer;
    scale: 1.1;
}

.product-items:hover .add-cart-btn {
	opacity: 1;
}

.add-cart-btn {
    border: none;
    border-radius: 15px;
	outline: none;
    opacity: 0;
    transition: opacity 0.5s;
	cursor: pointer;
	width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.add-cart-btn:hover {
    background-color:thistle;
    color: white;
}

.rec-container {
    display: flex;
    padding: 2rem 0;
}

/* .rec-card {
    border-radius: 20px;
    margin-right: 10px;
    height: 200px;
    flex: 1; 
    transition: .3s all ease;
} */

.rec-card {
    padding: 1rem 1rem;
}

.rec-card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.rec-card:hover {
    /* flex: 5; */
    background-color:darkseagreen;
    cursor: pointer;
    border-radius: 20px;
}

.rec-card:hover .add-cart-btn {
	opacity: 1;
}