.home-container {
    display: block;
    padding: 0 10rem;
    text-align: left;
}

.home-brands {
    padding: 2rem 0;
}

.product-items:hover {
    cursor: pointer;
}

.product-items:hover .add-cart-btn {
	opacity: 1;
}

.mens .products {
    display: flex;
    gap: 10px;
    padding: 2rem 0;
}

.womens .products {
    display: flex;
    gap: 10px;
    padding: 2rem 0;
}

.add-cart-btn {
    border: none;
	outline: none;
    opacity: 0;
    transition: opacity 0.5s;
	cursor: pointer;
	width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.add-cart-btn:hover {
    background-color:cadetblue;
}

.rec-container {
    display: flex;
    padding: 2rem 0;
}

.rec-card {
    border-radius: 20px;
    margin-right: 10px;
    height: 200px;
    background-color: aquamarine;
    flex: 1; 
    transition: .3s all ease;
}

.rec-card:hover {
    flex: 2;
    background-color: blueviolet;
    cursor: pointer;
}