.card {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.fadeline {
    display:block;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
    margin: 20px;
}

.loginpic_settings {
    width: 526px;
    height: 635px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
