.footer-container {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.footer-logo {
    width: 20vw;
    display: flex;
    justify-content: left;
}

.FooterLogo {
    height: 7rem;
}

.customer-support {
    width: 20vw;
}

.faq {
    width: 20vw;
}

.newsletter {
    width: 20vw;
}